/*
 * #5EC7F5 xanh dương: bg.main,
 * #8E8A34 vàng tối: bg.navbar
 * #EBE342 vàng chanh: ???
 * #519CB5 : inputs,
 * #2F84A8 xanh dương tối: cards
 **********************************
 * #40223C crushed: bg.main,
 * #42988F aqua: bg.navbar
 * #B1C592 fish paste: ???
 * #F1DDBA white pink: inputs,
 * #FB718A pink: cards
 *
 * Level: hover
 * box-shadow: 0 1px 3px 1px #555;
 * Level: normal
 * box-shadow: 0 3px 15px 1px #555;
 *
 *10px = .625rem
 *5px = .3125rem
 *
 *
 */

@font-face {
    font-family: 'SVN-Smirk';
    src: url('../font/SVN-Smirk.woff2') format('woff2'),
         url('../font/SVN-Smirk.woff') format('woff'),
         url('../font/SVN-Smirk.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
body{
  background: #EEE;
  background: -webkit-linear-gradient(to right, #E0E0E0, #EEE);
  background: linear-gradient(to right, #E0E0E0, #EEE);
  font-family: 'Patrick Hand SC', cursive;
  color: #212121;
  font-size: 1rem;
}
.birthBar{
  padding: 20px;
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  overflow: hidden;
  background-color: #40223C;
  transition: ease .5s;
  box-shadow:0 1px 6px 1px #555;
  z-index: 10;
  color: #FFF;
}
.hiddingBar{
  transform: translateY(-100%);
  box-shadow: none;
}
#registrar{
  padding: .625rem 0 5px;
  margin: 0 auto;
  width: 80%;
  color: #FFF;
}
#registrar input{
  color: inherit;
  padding: .625rem 0 5px;
  margin: 15px auto;
  width: 100%;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #FB718A;
  transition: ease .3s;
}
#registrar input:focus{
  border-bottom: 3px solid #FFF;
  margin-bottom: 12px;
  outline: none;
}
#registrar button{
  color: inherit;
  width: 100%;
  padding: .625rem;
  background-color: #FB718A;
  border: 0;
  border-radius: 5px;
}
#registrar button:focus{
  outline: none;
}
/* main section ---------------------*/
.main{
  min-height: calc(100vh - 140px);
  margin-bottom: 140px;
  padding: .5rem 1rem;
}
.it-wrapper h1{
  text-transform: uppercase;
  font-size: 3rem;
  text-align: center;
  padding: .625rem 0;
  color: rgba(255,255,255,0.1);
  font-family: 'SVN-Smirk', sans-serif;
  /*text-shadow: 1px 1px 1px rgba(255,255,255,0.3);*/
  text-shadow: 2px 2px 3px rgba(255,255,255,0.3);
  /*Get gradient from here: http://www.colorzilla.com/gradient-editor/#40223c+0,42988f+43,b1c592+60,f1ddba+69,fb718a+100*/
  background: rgb(64,34,60);
  background: -webkit-linear-gradient(left, rgba(64,34,60,1) 0%, rgba(66,152,143,1) 30%, rgba(177,197,146,1) 45%, rgba(241,221,186,1) 60%, rgba(251,113,138,1) 100%);
  background: -moz-linear-gradient(left, rgba(64,34,60,1) 0%, rgba(66,152,143,1) 30%, rgba(177,197,146,1) 45%, rgba(241,221,186,1) 60%, rgba(251,113,138,1) 100%);
  background: linear-gradient(to right, rgba(64,34,60,1) 0%, rgba(66,152,143,1) 30%, rgba(177,197,146,1) 45%, rgba(241,221,186,1) 60%, rgba(251,113,138,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#40223c', endColorstr='#fb718a',GradientType=1 );
  background-size: 100%;
  background-position: center left, top left;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -moz-border-radius: 90px 15px;
  -moz-box-shadow: 0px 0px 0px 10px rgba(255,255,255,0.4); 
}
ul{
  list-style: none;
  padding: 0;
  /*margin: 0;*/
}
li{
  padding: 1em;
  margin-bottom: 1em;
  /*border-radius: .3em;*/
  /*background-color: #F8BBD0;*/
  background-color: #EEE;
  -webkit-box-shadow: 0 6px 30px -10px #555;
  -moz-box-shadow: 0 6px 30px -10px #555; 
  box-shadow: 0 6px 30px -10px #555;
  transition: ease .3s;
  border: solid 2px #41403E;
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  /*
  Above is shorthand for:
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  border-bottom-right-radius: 225px 15px;
  border-bottom-left-radius:15px 255px;
  */
  /*position: relative;*/
}
li:hover{
  -webkit-box-shadow: 0 1px 3px 1px #AAA;
  -moz-box-shadow: 0 1px 3px 1px #AAA; 
  box-shadow: 0 1px 3px 1px #AAA;
}
/*li:before{
  content: '';
  display: block;
  position: absolute;
  left: -1rem;
  top: 1.8rem;
  width: 3rem;
  height: .2rem;
  background-color: #FB718A;
}*/
li h3{
  /*padding: 0;*/
  margin: 0;
  /*text-indent: 2rem;*/
  font-size: 2rem;
  color: #555;
  letter-spacing: 1rem;
  text-transform: uppercase;
}
li p{
  font-weight: 300;
}
.birthBlock{
  display: inline-block;
  margin: 0;
  padding: 0 .6rem .5rem;
  width: 4.25rem;
  /*font-family: 'iCielEffra-Regular', sans-serif;*/
  color: #555;
  line-height: 1.8;
  font-weight: 900;
  /*text-align: center;*/
}
.birthBlock span{
  /*font-family: 'iCielEffra-Regular', sans-serif;*/
  font-weight: 100;
  font-size: 1.5rem;
  color: #FB718A;
}
/*.birthBlock span:before{
  content: '';
  display: block;
  margin: 3px 0 0;
  width: 0;
  height: 3px;
  background-color: #555;
  transition: all .5s ease;
}
.birthBlock:hover span:before{
  width: 1.5rem;
}*/
footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 20;
  pointer-events: none;
}
footer>div{
  display: inline-block;
	width: 100%;
}
.floatLeft{
  text-align: right;
  padding: 30px;
}
.sortBtnGroup{
  text-align: center;
  padding: 20px 50px;
  font-size: 14px;
  background-color: #40223C;
  /*font-family: 'iCielEffra-Regular', sans-serif;*/
}
.sortBtn{
  padding: 5px 0;
	margin: 8px 0;
  width: 100%;
	transition: ease .8s;
  pointer-events: auto;
  display: block;
  border: 1px solid #777;
  color: #777;
  cursor: pointer;
}
.sortBtn:hover, .sortBtn:focus, .sortBtn:active{
  border-color: #C1C1C1;
  color: #C1C1C1;
}
.sortBtn>div{
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 20px;
  height: .1rem;
}
.sortBtn>div>span{
  display: inline-block;
  position: absolute;
  left: 0;
  height: 100%;
  transition: ease 0.8s;
}
.sortBtn>div>span:nth-child(1){
  width: 20px;
  background-color: #777;
}
.sortBtn>div>span:nth-child(2){
  width: 0;
  background-color: #FB718A;
}
.sortBtn:focus>div>span:nth-child(2), .sortBtn:active>div>span:nth-child(2), .presentState>div>span:nth-child(2){
  width: 20px;
}
.presentState{
  border-color: #C1C1C1;
  color: #C1C1C1;
}
.main button {
  color: #454545;
  background: transparent;
  border-width: 2px;
  border-style: solid;
  border-color: #454545;
  position: relative;
  margin: 1em;
  display: inline-block;
  padding: 0.5em 1em;
  transition: all 0.3s ease-in-out;
  text-align: center;
  font-family: comfortaa;
  font-weight: bold;
}
.main button:before, .main button:after {
  content: '';
  display: block;
  position: absolute;
  border-color: #454545;
  box-sizing: border-box;
  border-style: solid;
  width: 1em;
  height: 1em;
  transition: all 0.3s ease-in-out;
}
.main button:before {
  top: -6px;
  left: -6px;
  border-width: 2px 0 0 2px;
  z-index: 5;
}
.main button:after {
  bottom: -6px;
  right: -6px;
  border-width: 0 2px 2px 0;
}
.main button:hover:before, .main button:hover:after {
  width: calc(100% + 12px);
  height: calc(100% + 12px);
  border-color: #fff;
}
.main button:hover {
  color: #353535;
  background-color: #fff;
  border-color: #fff;
}


/**********************************/
#addBirthBtn{
  width: 70px;
  height: 70px;
  /*position: fixed;
  bottom: 20px;right: 20px;*/
  display: inline-block;
  text-align: right;
  font-size: 25px;
  background-color: #FB718A;
  border: 0;
  border-radius: 50%;
  box-shadow: 0 3px 15px 1px #555;
  transition: ease .5s;
  cursor: pointer;
  z-index: 20;
  pointer-events: auto;
}
#addBirthBtn:hover{
  box-shadow: 0 1px 3px 1px #555;
}
#addBirthBtn:focus{
  outline: none;
  box-shadow: 0 0 0 0 #555;
}
.navIcon{
  width: 30px;
  height: 30px;
  position: relative;
  margin: 20px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}
.navIcon span{
  display: block;
  position: absolute;
  height: 6px;
  width: 100%;
  background-color: #F1DDBA;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .4s ease-in-out;
  -moz-transition: .4s ease-in-out;
  -o-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}
.navIcon span:nth-child(1), .navIcon span:nth-child(2) {
  top: 12px;
  width: 0;
  left: 50%;
}
.navIcon span:nth-child(3), .navIcon span:nth-child(4) {
  top: 12px;
  width: 100%;
}
.navIcon span:nth-child(3) {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.open span:nth-child(1) {
  width: 100%;
  left: 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.open span:nth-child(2) {
  width: 100%;
  left: 0;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.open span:nth-child(3), .open span:nth-child(4) {
  width: 0;
  left: 50%;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .it-wrapper h1{
    font-size: 8rem;
    margin: 50px 0;
  }
  ul {
    display: -webkit-flex;
    display: flex;
    clear: both;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;    
    flex-wrap: wrap;
  }
  ul li{
    -webkit-flex-grow: 1;
    flex-grow: 1;
    -webkit-flex-basis: 47.5%;
    flex-basis: 47.5%;
    margin: 0 1.25% 1em;
  }
  .sortBtn{
    padding: 5px 8px;
    margin: 0 20px;
    width: initial;
    display: inline-block;
    cursor: pointer;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .it-wrapper h1{
    font-size: 8rem;
    line-height: 9rem;
    margin: 50px auto;
  }
  #registrar input{
    width: 200px;
    margin: 15px 30px;
  }
  #registrar button{
    width: initial;
  }
  ul li {
    -webkit-flex-basis: 20%;
    flex-basis: 20%;
  }
  li .btnGroup{
    display: none;
  }
  li:hover .btnGroup{
    display:initial;
  }

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}