@import '../../../core/scss/_variables.scss';
@import '../../../core/scss/_extends.scss';
@import '../../../core/scss/_mixins.scss';

.body-wrapper > .row {
  min-height: 100vh;
}

.signup-form {
  &__uname {
  }

  &__passwd {
  }

  &__submit-btn {
    // background-color: $color--dark-black;
    // color: $color--white;
  }

  &__seperator {
    position: relative;

    .divider {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: -1;
    }

    &__text {
      background-color: $bg-color;
      font-style: italic;
    }
  }

  &__signin-link {
    text-transform: uppercase;
    font-weight: 900;
    @include simpleTransition(letter-spacing);

    &:hover {
      letter-spacing: 2px;
    }
  }
}
