@charset "UTF-8";
::-webkit-scrollbar {
  width: .4rem;
  background-color: transparent; }

::-webkit-scrollbar-thumb {
  border-radius: .4rem;
  background-color: #555; }

::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece,
::-webkit-scrollbar-button,
::-webkit-scrollbar-corner,
::-webkit-resizer {
  display: none; }

@font-face {
  font-family: 'SVN-Smirk';
  src: url("../font/SVN-Smirk.woff2") format("woff2"), url("../font/SVN-Smirk.woff") format("woff"), url("../font/SVN-Smirk.otf") format("opentype");
  font-weight: normal;
  font-style: normal; }

html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

body {
  background: #eee;
  background: linear-gradient(to right, #e0e0e0, #eee);
  font-family: 'Patrick Hand SC', cursive;
  color: #212121;
  font-size: 1rem; }

.main {
  min-height: calc(100vh - 140px);
  margin-bottom: 140px;
  padding: .5rem 1rem; }

.sticky-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 1rem;
  z-index: 2;
  pointer-events: none; }
  .sticky-nav * {
    pointer-events: auto; }

.sort-sub-nav, .backup-restore-sub-nav {
  display: flex;
  flex-flow: row wrap;
  top: 0;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #2e192b;
  transition: ease .8s; }

.sort-sub-nav li, .backup-restore-sub-nav li {
  flex: 1 1 7.2em;
  margin: 0;
  padding: 1em 0;
  color: #aaa;
  font-size: 1em;
  text-align: center;
  cursor: pointer; }

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: ease .5s;
  background-color: rgba(0, 0, 0, 0.9); }
  .overlay--hidden {
    transform: translateY(100%) scaleY(0); }

.form-container {
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  background-color: #40223c;
  transition: ease .5s;
  box-shadow: 0 1px 6px 1px #555;
  z-index: 2;
  color: #fff; }
  .form-container--hidden {
    transform: translateY(-100%);
    box-shadow: none; }

.birth-reg-form {
  padding: .625rem 0 .3rem;
  margin: 0 auto;
  width: 80%;
  color: #fff; }
  .birth-reg-form input {
    color: inherit;
    padding: .625rem 0 .3rem;
    margin: 15px auto;
    width: 100%;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #fb718a;
    transition: ease .3s; }
    .birth-reg-form input:focus {
      border-bottom: 3px solid #fff;
      margin-bottom: 12px;
      outline: none; }
  .birth-reg-form__submitBtn {
    color: inherit;
    width: 100%;
    padding: .625rem;
    background-color: #fb718a;
    border: 0;
    border-radius: 5px; }
    .birth-reg-form__submitBtn:focus {
      outline: none; }

.page-title h1 {
  text-transform: uppercase;
  font-size: 3rem;
  text-align: center;
  padding: .625rem 0;
  margin-bottom: 20px;
  color: rgba(255, 255, 255, 0.1);
  font-family: 'SVN-Smirk', sans-serif;
  text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.3);
  background: #40223c;
  background: -webkit-gradient(linear, left top, right top, from(#40223c), color-stop(30%, #42988f), color-stop(45%, #b1c592), color-stop(60%, #f1ddba), to(#fb718a));
  background: linear-gradient(to right, #40223c 0%, #42988f 30%, #b1c592 45%, #f1ddba 60%, #fb718a 100%);
  -webkit-background-clip: text;
  background-clip: text;
  background-size: 100%;
  background-position: center left, top left; }

.birth-list {
  list-style: none;
  padding: 0; }
  .birth-list li {
    padding: 1em;
    margin-bottom: 1em;
    background-color: #eee;
    box-shadow: 0 6px 30px -10px #555;
    transition: ease .3s;
    border: solid 2px #41403e;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px; }
    .birth-list li:hover {
      box-shadow: 0 1px 3px 1px #aaa; }
    .birth-list li * {
      pointer-events: none; }
    .birth-list li input[type="checkbox"] {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      z-index: -1; }
      .birth-list li input[type="checkbox"]:checked + label {
        background-color: #fb718a;
        background-clip: content-box; }
    .birth-list li label {
      display: inline-block;
      width: 2em;
      height: 2em;
      margin-right: 1em;
      background-color: transparent;
      padding: .2em;
      border: 2px solid #fb718a; }
    .birth-list li h3 {
      display: inline-block;
      margin: 0;
      font-size: 2em;
      color: #555;
      letter-spacing: 1em;
      text-transform: uppercase; }
    .birth-list li p {
      font-weight: 300; }

.birth-list--checkbox-hidden li label {
  /* tạm thời xoá để test chức năng long-press event */
  display: none; }

.birthBlock {
  display: inline-block;
  margin: 0;
  padding: 0 .6rem .5rem;
  width: 4.25rem;
  color: #555;
  line-height: 1.8;
  font-weight: 900; }
  .birthBlock span {
    font-weight: 100;
    font-size: 1.5rem;
    color: #fb718a; }

.main-nav {
  display: flex;
  flex-flow: row wrap;
  padding: .7rem;
  background-color: #40223c;
  position: relative;
  z-index: 2; }
  .main-nav__item {
    flex: 1;
    justify-content: space-between;
    padding: .3em;
    margin: 0 .3em;
    text-align: center;
    font-size: 2em;
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer; }
    .main-nav__item:hover, .main-nav__item:active {
      color: #fff; }
    .main-nav__item:nth-child(1) {
      position: relative; }
    .main-nav__item:nth-child(2) {
      color: rgba(253, 33, 73, 0.3); }
      .main-nav__item:nth-child(2):active {
        cursor: wait; }
    .main-nav__item__ico--rotate {
      transform: rotate(45deg); }

.sort-sub-nav li:hover {
  color: #c1c1c1; }

.sort-sub-nav__item--present-state {
  color: #fff !important;
  font-weight: bold; }

.backup-restore-sub-nav li:hover {
  color: #c1c1c1; }

.sort-sub-nav,
.translatedDown100 {
  transform: translateY(100%); }

.translatedDown200 {
  transform: translateY(200%); }

.lighterTrash {
  color: rgba(253, 33, 73, 0.7) !important; }
  .lighterTrash:hover, .lighterTrash:active {
    color: #fd2149 !important; }

.fa {
  pointer-events: none;
  transition: ease .3s; }

@media (min-width: 768px) {
  .page-title h1 {
    font-size: 8rem;
    margin: 50px 0; }
  .birth-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    clear: both; }
    .birth-list li {
      flex: 1 0 47.5%;
      margin: 0 1.25% 1em; }
  .sticky-nav {
    font-size: 1.5rem; } }

@media (min-width: 992px) {
  .page-title h1 {
    font-size: 8rem;
    line-height: 9rem;
    margin: 50px auto; }
  .birth-reg-form input {
    width: 200px;
    margin: 15px 30px; }
    .birth-reg-form input__submitBtn {
      width: initial; }
  .birth-list li {
    flex-basis: 20%; } }
