extends layout

block pageTitle
    title= title || 'Address Book'

block content
    .body-wrapper

block closeHead
    //- link(href="/App.css", rel="stylesheet")

block closeBody
    //- script(src="/App.js")
