{
    "parser": "babel-eslint",
    "settings": {
        "react": {
            "createClass": "createReactClass",
            "pragma": "React"
        }
    },
    "parserOptions": {
        "ecmaVersion": 2018,
        "sourceType": "module",
        "impliedStrict": true,
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "env": {
        "serviceworker": true,
        "jasmine": true,
        "jest": true,
        "browser": true,
        "node": true
    },
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended"
    ],
    "plugins": [
        "babel",
        "react"
    ],
    "rules": {
        "no-debugger": "warn",
        "no-console": "warn",
        "no-undef": "warn",
        "semi": ["error", "always"],
        "react/react-in-jsx-scope": "off",
        "react/jsx-indent": ["warn", 4],
        "react/prop-types": "warn",
        "react/jsx-indent-props": ["warn", "first"]
    }
}
