@import '_variables.scss';
@import '_mixins.scss';
@import '_extends.scss';

@import '_keyframes.scss';
@import './base/_index.scss';
@import './layout/_index.scss';
@import './components/_index.scss';

// Medium devices (desktops, 992px and up)
@media (min-width: 992px) {
    .birth-reg-form input {
        width: 200px;
        margin: 15px 30px;

        &__submitBtn {
            width: initial;
        }
    }
}
