{
  "env": {
    "production": {
      "presets": [
        ["@babel/preset-env", { "useBuiltIns": "entry", "corejs": 3, "modules": false }],
        "@babel/preset-typescript",
        "@babel/preset-react"
      ],
      "plugins": [
        "lodash",
        "date-fns",
        ["transform-react-remove-prop-types", {
          "mode": "remove",
          "removeImport": true,
          "additionalLibraries": ["react-immutable-proptypes"],
          "ignoreFilenames": ["node_modules"]
        }],
        ["transform-imports", {
          "react-bootstrap": {
            "transform": "react-bootstrap/esm/${member}",
            "preventFullImport": true
          },
          "lodash": {
            "transform": "lodash/${member}",
            "preventFullImport": true
          }
        }],
        // "@babel/plugin-proposal-decorators",
        // ["@babel/plugin-proposal-class-properties", { "loose": true }],
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-transform-react-jsx-source",
        "@babel/plugin-proposal-nullish-coalescing-operator",
        "@babel/plugin-proposal-optional-chaining",
        "@babel/plugin-transform-runtime",
        "@babel/plugin-syntax-dynamic-import",
        "@babel/plugin-proposal-object-rest-spread"
      ]
    },
    "development": {
      "presets": [
        ["@babel/preset-env", { "useBuiltIns": "entry", "corejs": 3, "modules": false }],
        "@babel/preset-typescript",
        "@babel/preset-react"
      ],
      "plugins": [
        // "@babel/plugin-proposal-decorators",
        // ["@babel/plugin-proposal-class-properties", { "loose": true }],
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-transform-react-jsx-source",
        "@babel/plugin-proposal-nullish-coalescing-operator",
        "@babel/plugin-proposal-optional-chaining",
        "@babel/plugin-transform-runtime",
        "react-hot-loader/babel",
        "@babel/plugin-syntax-dynamic-import",
        ["@babel/plugin-proposal-object-rest-spread", { "useBuiltIns": true }]
      ]
    }
  }
}
