extends layout

block pageTitle
    title= title || 'Error | Contacts Book'

block content
    h3.text-warning Please send this error information below to the fucking awesome developer who has built this fucking awesome app
    h1= message
    //- h2= error.status
    //- pre #{error.stack}
