extends layout

block content
    div(style="max-width: 500px;margin-left: auto;margin-right: auto;")
        form(action="/signup", method="post")
            label Username:
                input(type="text", name="uname" value="lvnam96")
            br
            br
            label Password:
                input(type="password", name="passwd" value="123")
            br
            br
            label Have an Facebook account? 
            input.btn.btn-small(type="button", value="Connect")
            br
            br
            label Birthday:
                input(type="date", name="birth" value="1996-11-27")
            br
            br
            label Email:
                input(type="email", name="email" value="lvnam96@gmail.com")
            br
            br
            label Phone:
                input(type="number", name="phone" value="123456789")
            br
            br
            label Display name:
                input(type="text", name="dispname" value="Gary")
            br
            br
            button.btn.btn-large(type="submit") Sign up
