extends layout

block pageTitle
    title= title || 'Sign Up | Contacts Book'

block content
  main
    .body-wrapper.container-fluid
      .row
        .col-12.col-xl-8.order-xl-1.d-none.d-xl-block(style="background: linear-gradient(-45deg, #7c7c7c, #212121);")
          svg
        .col-12.col-xl-4.order-xl-0.d-flex.align-items-center.justify-content-center
          .w-100.px-2.px-md-3.px-xl-4.mx-auto.py-3.py-md-4(style="max-width: 400px;")
            header
              h1.font-weight-bold.page-title Sign Up
            //- if errMsg
            //-     .border.border-warning.text-warning.px-2.py-2.mb-3= errMsg
            .mb-4.mb-md-5
              .signup-form-wrapper.mb-3.mb-md-4!= ssr
              .text-center.mb-4.signup-form__seperator
                hr.divider.w-50.p-0.m-0.mx-auto
                .d-inline-block.px-2.py-1.signup-form__seperator__text
                  span or
              p.text-center
                button.btn.btn-outline-dark.rounded-pill.btn-block
                  span Sign Up with&nbsp;
                  span(style="font-family: serif;") Google
              p.text-center Have an account already?
                br
                a.signup-form__signin-link(href="/signin") Sign In

block closeHead
    link(rel="stylesheet" href="/Signup.css")
    link(rel="prefetch" href="/signin")
    link(rel="prefetch" href="/Signin.css")
    link(rel="prefetch" href="/Signin.js")

block closeBody
    script(nonce=nonce src="/Signup.js")
