extends layout

block pageTitle
    title= title || 'Sign In | Contacts Book'

block content
  main
    .body-wrapper.container-fluid
      .row
        .col-12.col-xl-8.order-xl-1.d-none.d-xl-block(style="background: linear-gradient(-45deg, #7c7c7c, #212121);")
          svg
        .col-12.col-xl-4.order-xl-0.d-flex.flex-wrap.align-items-center.justify-content-center
          .w-100.px-2.px-md-3.px-xl-4.mx-auto.py-3.py-md-4(style="max-width: 400px;")
            header
              h1.font-weight-bold.page-title Sign In
            .mb-4.mb-md-5
              .signin-form-wrapper.mb-3.mb-md-4!= ssr
              .text-center.mb-4.signin-form__seperator
                hr.divider.w-50.p-0.m-0
                .d-inline-block.px-2.py-1.signin-form__seperator__text
                  span or
              p.text-center
                button.btn.btn-outline-dark.rounded-pill.btn-block Sign in with Google
              p.text-center Don't have an account?
                br
                a.signin-form__signup-link(href="/signup") Sign Up
  script window.returnedUser = '#[= returnedUser]';

block closeHead
    link(href="/Signin.css", rel="stylesheet")
    link(href="/signup", rel="prefetch")
    link(href="/Signup.css", rel="prefetch")
    link(href="/Signin.js", rel="prefetch")
    link(href="/App.css", rel="prefetch")
    link(href="/App.js", rel="prefetch")

block closeBody
    script(src="/Signin.js")
