extends layout

block content
    if isFailed
        em Sign in failed! Please login again.
    form(action="/signin", method="post")
        label Username:
            br
            input(type="text", name="uname")
        br
        br
        label Password:
            br
            input(type="password", name="passwd")
        br
        br
        button.btn.btn-large(type="submit") Sign in
    p Don't have an account? 
        a.btn.btn-small(href="/signup") Sign up now
