<!DOCTYPE html>
<html>
<head>
    <title>Sign In | Address Book</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link href="//use.fontawesome.com/releases/v5.0.2/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"/> -->
    <!-- <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"/> -->
    <link rel="stylesheet" href="./css/styles.css" />
    <link rel="stylesheet" href="./css/signin.css" />
</head>
<body>
    <div class="body-wrapper container-fluid">
        <div class="row">
            <div class="col-md-8" style="background: linear-gradient(45deg, #7c7c7c, #212121);">
                <svg></svg>
            </div>
            <div class="col-md-4 d-flex flex-wrap align-items-center justify-content-center">
                <div class="w-100 px-2 px-md-3 px-xl-4" style="max-width: 400px;">
                    <form action="" class="signin-form">
                        <p class="input-wrapper">
                            <input type="text" class="form-control signin-form__uname" autocomplete="username" placeholder="username">
                        </p>
                        <p class="input-wrapper">
                            <input type="password" class="form-control signin-form__passwd" autocomplete="current-password" placeholder="password">
                        </p>
                        <div class="container-fluid">
                            <div class="row align-items-center">
                                <div class="col-xs-6 px-0 mr-auto">
                                    <a href="/fpswd" class="signin-form__forgot-passwd-link">Forgot your password?</a>
                                </div>
                                <div class="col-xs-6 px-0">
                                    <button class="btn btn-dark rounded-0 signin-form__submit-btn" type="submit">Sign in</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="text-center mt-3 mb-4 signin-form__seperator">
                        <hr class="divider w-50 p-0 m-0">
                        <div class="d-inline-block px-2 py-1 signin-form__seperator__text"><span>or</span></div>
                    </div>
                    <p class="text-center"><button class="btn btn-dark rounded-0 btn-block">Sign in with Google</button></p>
                    <p class="text-center">
                        Don't have an account?<br>
                        <a href="" class="signin-form__signup-link">Sign Up</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <script src="./js/jquery-3.3.1.slim.min.js"></script>
    <!-- <script src="./js/jquery-migrate-1.2.1.min.js"></script> -->
    <script src="/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script> -->
    <script src="./js/scripts.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const win = window;

        });
    </script>
</body>
</html>
