%input-label-divider {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: $color--gray;
}

input::-webkit-input-placeholder {
  // Chrome/Opera/Safari/Edge
  color: $color--light-gray;
}

input::-moz-placeholder {
  color: $color--light-gray;
}

input::placeholder {
  color: $color--light-gray;
}

// bs4 class
.form-group {
  label {
  }
}

.input-wrapper {
}

.form {
  &__input-field {
  }

  &__select-field {
    &__country-options {
      position: relative;
      padding-left: 20px;

      &::before {
        content: '';
        width: 20px;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate(0, -50%);
        // background: url('//placehold.it/40x20') center/cover no-repeat;
      }
    }
  }
}
