%fullscreen {
    text-align: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

// for buttons
%drop-shadow {
    transition: .2s ease-out;
    transition-property: box-shadow, transform;
    will-change: box-shadow;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .3);
}

%drop-shadow--hover {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transform: translate(0, -2px);
}
