// main section ---------------------
.main {
    min-height: calc(100vh - 140px);
    margin-bottom: 140px;
    padding: .5rem 0;
}

@media (min-width: 800px) {// when menu bar transform from horizontal to vertical
    .main {
        // width: calc(100% - 280px);// 280px is side-menu's max-width
        margin-left: 280px;
        min-height: unset;
        margin-bottom: 50px;
    }
}
