// main section ---------------------
.main {
    min-height: calc(100vh - 140px);
    margin-bottom: 140px;
    padding: .5rem 0;
    overflow-y: auto;// force to scroll, 'auto' doesn't seem to work
    scroll-behavior: smooth;// Firefox 49+, Experimental Feature in Chrome 41+
    -webkit-overflow-scrolling: touch;// lazy scrolling in webkit
}

@media (min-width: 800px) {// when menu bar transform from horizontal to vertical
    .main {
        // width: calc(100% - 280px);// 280px is side-menu's max-width
        margin-left: 280px;
        min-height: unset;
        margin-bottom: 50px;
    }
}
