@keyframes showOnDesktop {
    0% {
        opacity: 0;
        transform: scale(.5);
    }

    100% {
        opacity: 1;
        transform: scale(1) translateY(-50%);
    }
}

@keyframes showOnMobile {
    0% {
        opacity: 0;
        // transform: scale(.5) translateY(100%);
    }

    100% {
        opacity: 1;
        // transform: scale(1) translateY(0);
    }
}

.contact-card {
    margin: 0 auto;
    background-color: #fff;
    font-size: 1rem;
    animation: showOnMobile .2s ease-out both;

    > div {

    }

    &__buttons {
        display: flex;
        align-items: center;
        background-color: #f7f7f7;
        border-bottom: #ddd 1px solid;
        position: fixed;
        top: 0;
        z-index: 10;
        width: 100%;
        font-size: 1em;
        // transform: translateY(-100%);// if transform is used in animation of .contact-card, the .contact-card__buttons will not be fixed on top of screen.

        > div {
            width: 50px;
            height: 50px;
            text-align: center;
            cursor: pointer;

            &:first-child {
                margin-right: auto;
            }

            > i {
                font-size: 20px;
                line-height: 50px;
                color: #888;
            }

            &:hover > i {
                color: #000;
            }

            &:hover > .fa-user-times {
                color: #ef5350;
            }
        }
    }

    /***********header***********/
    &__header {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        background-color: #f7f7f7;
        margin-top: 50px;
        font-size: 1em;
        width: 100%;
        text-align: center;

        > div {

        }

        &__avt {
            height: 80px;
            flex-basis: 100%;
            margin: 20px;
            position: relative;

            // > img {
            //     width: 70px;
            //     height: 70px;
            //     border-radius: 50%;
            //     position: absolute;
            //     top: 50%;
            //     left: 50%;
            //     transform: translate(-50%, -50%);
            // }

            &__first-letter {
                display: block;
                color: #fff;
                width: 70px;
                height: 70px;
                text-align: center;
                font-size: 2em;
                white-space: nowrap;
                line-height: 70px;
                border-radius: 50%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 1;
            }
        }

        &__name {
            // flex-grow: 1;
            // flex-basis: 200px;

            > div {
                display: flex;
                flex-flow: row wrap;
                // justify-content: center;
                align-content: center;
                align-items: center;
                height: 100%;

                > h2 {
                    flex-basis: 100%;
                    margin: 0 0 10px;
                }

                > span:last-child {
                    margin-right: 0;
                }
            }
        }

        &__tags {
            width: 100%;
            margin-bottom: 10px;

            > span {
                display: inline-block;
                border-radius: 4px;
                font-size: .8em;
                margin-right: 5px;
                color: #fff;
                padding: 2px;
            }
        }

        &__tag-family {
            background-color: #29b6f6;
        }

        &__tag-co-worker {
            background-color: #8d6e63;
        }

        &__tag-friends {
            background-color: #66bb6a;
        }
    }

    &__body {
        background-color: #fff;
        margin-top: 0;
        font-size: 1em;

        > p {
            font-weight: 700;
            padding: 20px 0 20px 40px;
            margin: 0;
        }
    }

    &__details {
        padding-bottom: 30px;
        color: #5f5f5f;
        font-size: 1em;

        > div {
            display: flex;
        }

        &__icon {
            width: 20%;
            text-align: center;
            display: inline-block;

            > div > i {
                font-size: 1em;
                line-height: 3em;
                // transition: transform .1s cubic-bezier(.7,.67,.62,1);
            }
        }

        &__info {
            order: 2;
            width: 80%;
            display: inline-block;

            > * {
                line-height: 3em;
            }

            &:hover + .contact-card__details__icon > div > i {
                transform: scale(1.4);
            }
        }
    }
}

@media (min-width: 375px) {
    .contact-card__header {
        display: flex;
        flex-flow: row wrap;
        background-color: #f7f7f7;
        margin-top: 50px;
        font-size: 1em;
        width: 100%;

        > div {
            display: inline-block;
        }

        &__avt {
            flex-basis: 80px;
            border: #f1f1f1 1px solid;
            border-radius: 50%;
        }

        &__name {
            flex-grow: 1;
            flex-basis: 200px;
            height: 120px;
            text-align: left;   
        }

        &__tags {
            margin-bottom: 0;
        }
    }
}

@media (min-width: 700px) {
    .contact-card {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        max-width: 640px;
        width: 80%;
        animation: showOnDesktop .2s ease-out both;
    }

    .contact-card__buttons {
        position: static;
        // transform: translateY(0);
    }

    .contact-card__header {
        margin-top: 0;
        transform: none;
    }
}
