::-webkit-input-placeholder {// Chrome/Opera/Safari/Edge
    opacity: 0;
    color: #777;
}

::-moz-placeholder {
    opacity: 0;
    color: #777;
}

::placeholder {
    opacity: 0;
    color: #777;
}

.form-container {
    width: 100%;
    background-color: #f0efee;
}

.form-header {
    display: flex;
    align-items: center;

    &__title {
        margin: 30px;
        margin-right: auto;

        h2 {
            margin: 0;
        }
    }

    &__close-btn {
        width: 50px;
        height: 50px;
        text-align: center;
        cursor: pointer;

        i {
            line-height: 50px;
            font-size: 20px;
        }

        &:hover i {
            font-size: 25px;
        }
    }
}

.form-body {
    padding: 0 30px;

    &__avt {
        height: 80px;
        width: 100%;
        text-align: center;
        position: relative;

        // > img {
        //     display: inline-block;
        //     width: 100px;
        //     height: 100px;
        //     margin: 0 auto;
        //     padding: 0;
        //     border-radius: 50%;
        //     transform: translate(0,-80px);// 30px (parrent's padding) + 50px (1/2 its height)
        // }

        &__first-letter {
            display: inline-block;
            color: #fff;
            width: 80px;
            height: 80px;
            text-align: center;
            font-size: 2em;
            white-space: nowrap;
            line-height: 80px;
            border-radius: 50%;
            margin: 0 auto;
            padding: 0;
            z-index: 1;
            position: absolute;
            transform: translate(-50%, 0);
            cursor: pointer;
        }
    }

    &__inputs {
        &__labels {
            position: static;
            display: flex;
            width: 100%;

            > div {
                flex-grow: 1;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 2em;
            }

            label {
                position: static;
                line-height: 2em;
                cursor: pointer;
            }

            input {
                position: fixed;
                top: -99px;
                left: -99px;
                z-index: -99;

                &:checked + .checkbox__label {
                    background-color: #37939c;
                    // background-clip: content-box;
                    transform: scale(.8);
                }
            }
        }

        // &__note textarea {
        //     position: absolute;
        //     top: 0;
        //     left: 0;
        //     width: 100%;
        //     border: 0;
        //     border-bottom: #ccc 1px solid;
        //     padding-top: 20px;
        //     outline: none;
        // }
    }

    .form-body__input {
        position: relative;
        z-index: 1;
        display: inline-block;
        margin: 1em 0;
        width: 100%;
        vertical-align: top;

        input,
        // textarea,
        input:valid {
            outline: none;
            position: relative;
            display: block;
            float: right;
            border: 0;
            border-radius: 0;
            font-family: 'Roboto', sans-serif;
            font-weight: bold;
            -webkit-appearance: none;
            width: 100%;
            padding: .5em 0;
            margin-bottom: 2em;
            color: #555;
            background-color: transparent;
        }


        label,
        input:valid + label {
            display: inline-block;
            float: right;
            color: #696969;
            font-weight: bold;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            -webkit-touch-callout: none;
            user-select: none;
            width: 100%;
            position: absolute;
            text-align: left;
            font-size: 1em;
            padding: 10px 0 5px;
            pointer-events: none;

            span {
                position: relative;
                display: block;
                width: 100%;
                padding: 0;
                transform-origin: 0 0;
                transition: transform .3s, color .3s;
                will-change: transform, color;
            }

            &::after {
                content: '';
                position: absolute;
                width: 100%;
                height: 7px;
                background-color: #37aab6;
                left: 0;
                top: 100%;
                transform-origin: 50% 100%;
                transition: transform .3s;
                will-change: transform;
            }
        }
    }
}

.form-body__input > input:focus + label::after,
.form-body__input--filled label::after {
    transform: scale3d(1, .25, 1);
}

.form-body__input > input:focus + label > span,
.form-body__input--filled label > span {
    color: #37939c;
    transform: translate3d(0, 2em, 0) scale3d(.655, .655, 1);
}

.form-body__input > input:focus::-webkit-input-placeholder,
.form-body__input > input:valid:focus::-webkit-input-placeholder {
    opacity: 1;
}

.form-body__input > input:focus::-moz-placeholder,
.form-body__input > input:valid:focus::-moz-placeholder {
    opacity: 1;
}

.form-body__input > input:focus::placeholder,
.form-body__input > input:valid:focus::placeholder {
    opacity: 1;
}

.form-body__input > input:invalid + label::after {
    background-color: #f00;
}

.form-body__inputs__birth > label {
    background-color: #f0efee;
    cursor: text;
}

.form-body__inputs__birth > input:focus + label,
.form-body__inputs__birth.form-body__input--filled > label {
    background-color: transparent;
}

.checkbox__label {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    background-color: transparent;
    padding: .1em;
    margin-right: .5em;
    border: 2px solid #37939c;
    z-index: 2;
    transition: background-color, transform;
    transition-duration: .2s;
}

.form-footer {
    display: flex;
    padding: 1em;

    > input {
        padding: 10px 20px;
        cursor: pointer;
        color: #212121;
        background: none;
        border: 0;
        outline: none;

        &:hover {
            font-weight: bold;
        }
    }

    &__reset-btn {
        margin-right: auto;
    }
}

@media (min-width: 375px) {
    .form-body {
        padding: 0 40px;

        &__avt {
            height: 100px;

            &__first-letter {
                width: 100px;
                height: 100px;
                line-height: 100px;
            }
        }
    }
}

@media (min-width: 600px) {
    .form-body {
        .form-body__inputs__phone,
        .form-body__inputs__birth,
        .form-body__inputs__email,
        .form-body__inputs__website {
            width: 45%;
        }

        .form-body__inputs__phone,
        .form-body__inputs__email {
            margin-right: 10%;
        }
    }
}

@media (min-width: 700px) {
    .form-container {
        max-width: 640px;
        width: 80%;
        margin: 0 auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
