@keyframes showUp {
    0% {
        opacity: 0;
        transform: scale(.5);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes slide {
    0% {
        background-color: #ccc;
        opacity: .1;
        transform: translate3d(100%,0%,0%);
    }

    5% {
        transform: translate3d(90%,0%,0%);
    }

    35% {
        opacity: 1;
        transform: translate3d(-10%,0%,0%);
    }

    60% {
        transform: translate3d(8%,0%,0%);
    }

    70% {
        transform: translate3d(-6%,0%,0%);
    }

    80% {
        transform: translate3d(3%,0%,0%);
    }

    95% {
        transform: translate3d(-1%,0%,0%);
    }

    100% {
        transform: translate3d(0%,0%,0%);
    }
}

@keyframes showhide {
    0%, 100% {
        transform: translate(0,-100%);
    }

    10%, 90% {
        transform: translate(0,0);
    }
}
