// sticky navbar
.sticky-nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 1rem;
    z-index: 2;
    pointer-events: none;

    * {
        pointer-events: auto;
    }
}

.main-nav {
    display: flex;
    flex-flow: row wrap;
    padding: .7rem;
    // background-color: #40223c;
    background-color: #283048;
    background: -webkit-linear-gradient(to right, #283048, #859398);
    background: linear-gradient(to right, #283048, #859398);
    box-shadow: 0 -1px 3px rgba(0,0,0,.12), 0 -1px 2px rgba(0,0,0,.24);
    position: relative;// just for making z-index:2 work (overfloat on filter-sub-nav)
    z-index: 2;

    .backup-btn,
    .restore-btn,
    .week-btn,
    .month-btn {
        display: none;
    }

    &__item {
        flex: 1;
        padding: .5em;
        margin: 0 .3em;
        text-align: center;
        color: rgba(255,255,255,.7);
        cursor: pointer;

        &:hover,
        &:active {
            color: #fff;
        }

        &:nth-child(1) {
            position: relative;
        }

        &.trash-btn {
            color: rgba(253,33,73,.3);

            &:active {
                cursor: wait;
            }

            &.lighter {
                color: rgba(253,33,73,.7);

                &:hover {
                    color: rgb(253,33,73);
                }
            }
        }

        span {
            display: none;
        }
    }

    .fa {
        pointer-events: none;
        transition: ease .3s;
        font-size: 1.2em;
    }
}

.filter-sub-nav {
    @extend %sub-nav;

    li {
        @extend %sub-nav-li;

        &:hover {
            color: #c1c1c1;
        }
    }

    &__item--present-state {
        color: #fff !important;
        font-weight: bold;
    }
}

.backup-restore-sub-nav {
    @extend %sub-nav;

    li {
        @extend %sub-nav-li;

        &:hover {
            color: #c1c1c1;
        }
    }
}

.filter-sub-nav,
.translatedDown100 {
    transform: translateY(100%);
}

.translatedDown200 {
    transform: translateY(200%);
}

// .lighterTrash {
//     color: rgba(253,33,73,.7) !important;

//     &:hover,
//     &:active {
//         color: rgb(253,33,73) !important;
//     }
// }

@media (min-width: 400px) {
    .main-nav .fa {
        font-size: 1.5em;
    }
}

@media (min-width: 800px) {
    .sticky-nav {
        position: fixed;
        left: 0;
        height: 100%;
        min-width: 200px;
        width: 30%;
        max-width: 280px;
        // background-color: #40223c;
        background-color: #283048;
        background: -webkit-linear-gradient(to right, #283048, #859398);
        background: linear-gradient(to right, #283048, #859398);
        box-shadow: 1px 0 3px rgba(0,0,0,.12), 1px 0 2px rgba(0,0,0,.24);
        overflow: auto;
        pointer-events: auto;
    }

    .main-nav {
        position: absolute;
        top: 0;
        width: 100%;
        padding: 0;
        box-shadow: none;

        &__item {
            flex-basis: 100%;
            display: flex;
            align-items: center;
            padding: 0;
            margin: 0;

            span {
                display: inline;
                font-size: 16px;
                line-height: 4em;
            }

            .fa {
                flex-basis: 60px;
                margin-left: 10px;
                font-size: 1.2em;
            }

            // &:hover {
            //     background-color: #2e192b;
            // }
        }
    }

    .filter-sub-nav,
    .backup-restore-sub-nav {
        display: none;
    }

    #bckp-rstr-toggle:checked ~ .backup-btn,
    #bckp-rstr-toggle:checked ~ .restore-btn {
        display: flex;
    }

    #bckp-rstr-toggle:checked + .main-nav__item > .fa {
        transform: rotate(-180deg);
    }

    #bckp-rstr-toggle:checked + .main-nav__item > .fa:before {
        content: '\f107';
    }

    #sort-toggle:checked ~ .week-btn,
    #sort-toggle:checked ~ .month-btn {
        display: flex;
    }

    #sort-toggle:checked + .main-nav__item > .fa {
        transform: rotate(-180deg);
    }

    #sort-toggle:checked + .main-nav__item > .fa:before {
        content: '\f107';
    }
}

@media (min-width: 930px) {
    .main-nav__item .fa {
        flex-basis: 90px;
        margin-left: 0;
    }
}
