::-webkit-scrollbar {
    width: .4rem;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: .4rem;
    background-color: #555;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece,
::-webkit-scrollbar-button,
::-webkit-scrollbar-corner,
::-webkit-resizer {
    display: none;
}

// @font-face {
//     font-family: 'SVN-Smirk';
//     src: url('../font/SVN-Smirk.woff2') format('woff2'),
//          url('../font/SVN-Smirk.woff') format('woff'),
//          url('../font/SVN-Smirk.otf') format('opentype');
//     font-weight: normal;
//     font-style: normal;
// }

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background: #eee;
    background: linear-gradient(to right, #e0e0e0, #eee);
    font-family: 'Roboto', sans-serif;
    color: #212121;
    font-size: 1rem;
}
