.confirm-dialog {
    padding: 20px;
    box-shadow: 0 0 25px 10px rgba(0, 0, 0, .5);
    background-color: $color--white;

    &__header {
        font-weight: bold;
    }

    &__btn {
        text-transform: uppercase;
        font-size: 1.2rem;
        font-weight: bold;

        &--yes {
            color: $color--light-blue;
        }

        &--no {
            color: $color--pink;
        }

        &:hover {
            text-decoration: none;
        }
    }
}


@media (min-width: $mobile) {

}

@media (min-width: $tablet) {
    .confirm-dialog {
        padding: 20px 30px;
    }
}

@media (min-width: $desktop) {

}

@media (min-width: $lg-desktop) {

}
