/**********************************\
         #FORM CONTAINER
\**********************************/

.form-container {
    width: 100%;
    background-color: #f0efee;
    animation: showUp .2s ease-out both;
}





/**********************************\
            #FORM HEADER
\**********************************/

.form-header {
    display: flex;
    align-items: center;
}

.form-title {
    margin: 30px;
    margin-right: auto;

    &__text {
        margin: 0;
    }
}

.form__close-btn {
    width: 50px;
    height: 50px;
    text-align: center;
    cursor: pointer;

    .fa {
        line-height: 50px;
        font-size: 20px;
    }

    &:hover .fa {
        font-size: 25px;
    }
}





/**********************************\
            #FORM BODY
\**********************************/

.form-body {
    padding: 0 30px;
}





/**********************************\
            #AVATAR
\**********************************/

.form-avt {
    height: 80px;
    width: 100%;
    text-align: center;
    position: relative;

    // > img {
    //     display: inline-block;
    //     width: 100px;
    //     height: 100px;
    //     margin: 0 auto;
    //     padding: 0;
    //     border-radius: 50%;
    //     transform: translate(0,-80px);// 30px (parrent's padding) + 50px (1/2 its height)
    // }

    &__first-letter {
        display: inline-block;
        color: #fff;
        width: 80px;
        height: 80px;
        text-align: center;
        font-size: 2em;
        white-space: nowrap;
        line-height: 80px;
        border-radius: 50%;
        margin: 0 auto;
        padding: 0;
        z-index: 1;
        position: absolute;
        transform: translate(-50%, 0);
        cursor: pointer;
    }
}

.form__inputs-container {
    // &__note textarea {
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     width: 100%;
    //     border: 0;
    //     border-bottom: #ccc 1px solid;
    //     padding-top: 20px;
    //     outline: none;
    // }
}





/**********************************\
            #CHECKBOXES
\**********************************/

.form__cb-container {
    position: static;
    display: flex;
    flex-direction: column;
    width: 100%;
}

#form_cb-family,
#form_cb-coWorker,
#form_cb-friends {
    position: fixed;
    top: -99px;
    left: -99px;
    z-index: -99;
    visibility: hidden;

    &:checked + .form__cb-box {
        background-color: #37939c;
        // background-clip: content-box;
        transform: scale(.8);
    }
}

.form__input-container--labels {
    flex-grow: 1;
    display: flex;
    align-items: center;
    height: 2em;
}

.form__cb-box,
.form__cb-label {
    position: static;
    line-height: 2em;
    cursor: pointer;
}

.form__input-container {
    position: relative;
    z-index: 1;
    display: inline-block;
    margin: 1em 0;
    width: 100%;
    vertical-align: top;
}





/**********************************\
              #INPUTS
\**********************************/

.form__input-field,
.form__input-field:valid {
    outline: none;
    position: relative;
    display: block;
    float: right;
    border: 0;
    border-radius: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    -webkit-appearance: none;
    width: 100%;
    padding: .5em 0;
    margin-bottom: 2em;
    color: #555;
    background-color: transparent;
}

.form__input-label,
.form__input-field:valid + .form__input-label {
    display: inline-block;
    float: right;
    color: #696969;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-touch-callout: none;
    user-select: none;
    width: 100%;
    position: absolute;
    text-align: left;
    font-size: 1em;
    padding: 10px 0 5px;
    pointer-events: none;

    &__text {
        position: relative;
        display: block;
        width: 100%;
        padding: 0;
        transform-origin: 0 0;
        transition: transform .3s, color .3s;
        will-change: transform, color;
    }

    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: #37aab6;
        left: 0;
        top: 100%;
        transform-origin: 50% 100%;
        transition: transform .3s;
        will-change: transform;
    }
}





/**********************************\
#FEATURE: CHANGE INPUT FIELD'S STATE
\**********************************/

.form__input-field:focus + .form__input-label::after,
.JS-form__input-container--filled .form__input-label::after {
    transform: scale3d(1, calc(1/3), 1);
}

.form__input-field:focus + .form__input-label__text,
.JS-form__input-container--filled .form__input-label__text {
    color: #37939c;
    transform: translate3d(0, 2em, 0) scale3d(.655, .655, 1);
}

.form__input-field:focus::-webkit-input-placeholder,
.form__input-field:valid:focus::-webkit-input-placeholder {
    opacity: 1;
}

.form__input-field:focus::-moz-placeholder,
.form__input-field:valid:focus::-moz-placeholder {
    opacity: 1;
}

.form__input-field:focus::placeholder,
.form__input-field:valid:focus::placeholder {
    opacity: 1;
}

.form__input-field:invalid + .form__input-label::after {
    background-color: #f00;
}

.form__input-container--birth > .form__input-label {
    background-color: #f0efee;
    cursor: text;
}

#inputs__birth:focus + .form__input-label,
.form__input-container--birth.JS-form__input-container--filled > .form__input-label {
    background-color: transparent;
}

::-webkit-input-placeholder {// Chrome/Opera/Safari/Edge
    opacity: 0;
    color: #777;
}

::-moz-placeholder {
    opacity: 0;
    color: #777;
}

::placeholder {
    opacity: 0;
    color: #777;
}





/**********************************\
            #CHECKBOX
\**********************************/

.form__cb-box {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    background-color: transparent;
    padding: .1em;
    margin-right: .5em;
    border: 2px solid #37939c;
    border-radius: 5px;
    z-index: 2;
    transition: background-color, transform;
    transition-duration: .2s;
}





/**********************************\
            #FORM FOOTER
\**********************************/

.form-footer {
    display: flex;
    padding: 1em;
}

.form__btn {
    padding: 10px 20px;
    cursor: pointer;
    color: #212121;
    background: none;
    border: 0;
    outline: none;

    &:hover {
        font-weight: bold;
    }

    &--reset {
        margin-right: auto;
    }
}





/**********************************\
        #MEDIA QUERIES
\**********************************/

@media (min-width: 375px) {
    .form-body {
        padding: 0 40px;
    }

    .form-avt {
        height: 100px;

        &__first-letter {
            width: 100px;
            height: 100px;
            line-height: 100px;
        }
    }
}

@media (min-width: 500px) {
    .form__cb-container {
        flex-direction: row;
    }

    .form__input-container--labels {
        justify-content: center;
    }
}

@media (min-width: 600px) {
    .form__input-container--phone,
    .form__input-container--birth,
    .form__input-container--email,
    .form__input-container--website {
        width: 45%;
    }

    .form__input-container--phone,
    .form__input-container--email {
        margin-right: 10%;
    }
}

@media (min-width: 700px) {
    .form-container {
        max-width: 640px;
        width: 80%;
        margin: 0 auto;
        // position: absolute;
        // top: 50%;
        // left: 50%;
        // transform: translate(-50%, -50%);
    }
}
