.header {
  text-align: center;

  &__title {
    display: inline-block;
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 900;
    padding: 0.625rem 0;
    margin-bottom: 20px;
    color: rgba(255, 255, 255, 0.1);
    font-family: 'SVN-Smirk', sans-serif;
    text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.3);
    // Get gradient from here: http://www.colorzilla.com/gradient-editor/#40223c+0,42988f+43,b1c592+60,f1ddba+69,fb718a+100
    background: rgb(64, 34, 60);
    background: -webkit-gradient(
      linear,
      left top,
      right top,
      from(rgba(64, 34, 60, 1)),
      color-stop(30%, rgba(66, 152, 143, 1)),
      color-stop(45%, rgba(177, 197, 146, 1)),
      color-stop(60%, rgba(241, 221, 186, 1)),
      to(rgba(251, 113, 138, 1))
    );
    background: linear-gradient(
      to right,
      rgba(64, 34, 60, 1) 0%,
      rgba(66, 152, 143, 1) 30%,
      rgba(177, 197, 146, 1) 45%,
      rgba(241, 221, 186, 1) 60%,
      rgba(251, 113, 138, 1) 100%
    );
    // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#40223c', endColorstr='$accent-color',GradientType=1 );
    -webkit-background-clip: text;
    background-clip: text;
    background-size: 100%;
    background-position: center left, top left;
  }
}

@media (min-width: $mobile) {
  .header {
    &__title {
      font-size: 1.7rem;
    }
  }
}

@media (min-width: $tablet) {
  .header {
    &__title {
      font-size: 2rem;
    }
  }
}

@media (min-width: $desktop) {
  .header {
    text-align: unset;
  }
}

@media (min-width: $lg-desktop) {
  .header {
    &__title {
      $margin-y: 20px;
      line-height: 0.8em;
      margin-top: $margin-y;
      margin-bottom: $margin-y;
    }
  }
}
