/**********************************\
        #NAV CONTAINER
\**********************************/
.sticky-nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 1rem;
    z-index: 2;
    pointer-events: none;
}

.filter-sub-nav,
.backup-restore-sub-nav,
.main-nav {
    pointer-events: auto;
}





/**********************************\
            #MAIN NAV
\**********************************/

.main-nav {
    display: flex;
    flex-flow: row wrap;
    padding: .7rem;
    background-color: #283048;
    // background: -webkit-linear-gradient(to right, #283048, #859398);
    // background: linear-gradient(to right, #283048, #859398);
    // box-shadow: 0 -1px 3px rgba(0,0,0,.12), 0 -1px 2px rgba(0,0,0,.24);
    position: relative;// just for making z-index:2 work (overfloat on filter-sub-nav)
    z-index: 2;

    .backup-btn,
    .restore-btn,
    .week-btn,
    .month-btn {
        display: none;
    }





    /**********************************\
            #NAV ITEMS
    \**********************************/

    &__item {
        flex: 1;
        padding: .5em;
        margin: 0 .3em;
        text-align: center;
        color: rgba(255, 255, 255, .5);
        cursor: pointer;

        &:hover,
        &:active {
            color: #fff;
        }

        &:nth-child(1) {
            position: relative;
        }

        &.trash-btn {
            color: rgba(253,33,73,.3);

            &:active {
                cursor: wait;
            }

            &.lighter {
                color: rgba(253,33,73,.7);

                &:hover {
                    color: rgb(253,33,73);
                }
            }
        }

        &.color-blink {
            animation: color-blink 3s infinite;
        }
    }

    &__item-label {
        display: none;
    }

    [class*="fa"] {
        pointer-events: none;
        transition: transform ease .3s;
        font-size: 1.2em;

        &.jump {
            animation: jump 1s infinite,
        }

        &.scale-bigger {
            animation: scale-bigger 1s infinite,
        }
    }
}





/**********************************\
  #SUB-NAV (ONLY DISPLAY ON MOBILE)
\**********************************/

.filter-sub-nav,
.backup-restore-sub-nav {
    display: flex;
    flex-flow: row wrap;
    top: 0;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #283048;
    // background: -webkit-linear-gradient(to right, #283048, #859398);
    // background: linear-gradient(to right, #283048, #859398);
    transition: transform ease .3s;
}

.filter-sub-nav__item {
    flex: 1 1 7.2em;
    margin: 0;
    padding: 1em 0;
    color: rgba(255, 255, 255, .5);
    font-size: 1em;
    text-align: center;
    cursor: pointer;

    &:hover {
        color: #fff;
    }
}

.filter-sub-nav,
.translatedDown100 {
    transform: translateY(100%);
}

.translatedDown200 {
    transform: translateY(200%);
}





/**********************************\
        #MEDIA QUERIES
\**********************************/

@media (min-width: 400px) {
    .main-nav [class*="fa"] {
        font-size: 1.5em;
    }
}

@media (min-width: 850px) {
    .sticky-nav {
        position: fixed;
        left: 0;
        height: 100%;
        min-width: 200px;
        width: 30%;
        max-width: 280px;
        // background-color: #40223c;
        // background-color: #283048;
        // background: -webkit-linear-gradient(to right, #283048, #859398);
        // background: linear-gradient(to right, #283048, #859398);
        // box-shadow: 1px 0 3px rgba(0,0,0,.12), 1px 0 2px rgba(0,0,0,.24);
        overflow: auto;
        pointer-events: auto;
    }

    .main-nav {
        position: absolute;
        top: 0;
        width: 100%;
        padding: 0;
        box-shadow: none;
        background-color: transparent;

        &__item {
            flex-basis: 100%;
            display: flex;
            align-items: center;
            padding: 0;
            margin: 0;
            color: rgba(0, 0, 0, .5);

            &:hover,
            &:focus {
                color: #000;
            }

            [class*="fa"] {
                flex-basis: 60px;
                margin-left: 10px;
                font-size: 1.2em;
            }

            // &:hover {
            //     background-color: #2e192b;
            // }
        }

        &__item-label {
            display: inline;
            font-size: 16px;
            line-height: 4em;
        }
    }

    .filter-sub-nav,
    .backup-restore-sub-nav {
        display: none;
    }

    #bckp-rstr-toggle:checked ~ .backup-btn,
    #bckp-rstr-toggle:checked ~ .restore-btn,
    #sort-toggle:checked ~ .week-btn,
    #sort-toggle:checked ~ .month-btn {
        display: flex;
    }

    #bckp-rstr-toggle:checked + .main-nav__item > [class*="fa"],
    #sort-toggle:checked + .main-nav__item > [class*="fa"] {
        transform: rotate(-180deg);

        &::before {
            content: '\f107';
        }
    }

    // #bckp-rstr-toggle:checked + .main-nav__item > [class*="fa"]::before,
    // #sort-toggle:checked + .main-nav__item > [class*="fa"]::before {
    //     content: '\f107';
    // }
}

@media (min-width: 930px) {
    .main-nav__item [class*="fa"] {
        flex-basis: 90px;
        margin-left: 0;
    }
}
