@import './variables';

$primary: $primary-color !default;
$secondary: $accent-color !default;
$border-radius: $radius-size !default;
$border-radius-lg: $radius-size-lg !default;
$border-radius-sm: $radius-size-sm !default;

$custom-colors: (
  'orange': $color--orange,
  'red': $color--red,
  'light-gray': $color--light-gray,
  'gray': $color--gray,
  'cyan': $color--cyan,
  'light-blue': $color--light-blue,
  'green': $color--green,
  'brown': $color--brown,
);

$theme-colors: () !default;
$theme-colors: map-merge($custom-colors, $theme-colors);
