@import 'variables';
@import 'extends';
@import 'mixins';
//general
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,700,900&subset=latin-ext');

$fa-font-path: '~@fortawesome/fontawesome-free/webfonts'!default;
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';

@import 'overwrite-bs4-variables';
@import '~bootstrap/scss/bootstrap';// @import '../../node_modules/bootstrap/scss/bootstrap';
// @import '../../node_modules/slick-carousel/slick/slick';
// @import '../../node_modules/slick-carousel/slick/slick-theme';
@import 'base';
@import 'layout';
// components
@import './components/index';
// pages
// @import './pages/manifest';
